<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 	 	
    <!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		<!-- CSRF fraud protection  -->
		<!-- <csrf />  -->		
		<intercept-url pattern="/links" access="permitAll" />		
		<intercept-url pattern="/evlogin" access="permitAll" />	
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/chaddress" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/checkout" access="hasRole('ROLE_ADMIN')" />	
		<session-management>
		    <concurrency-control max-sessions="1" expired-url="/cart" error-if-maximum-exceeded="true"/>
	    </session-management>				
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
 
		<form-login login-page="/evlogin" 
					default-target-url="/evlogin"					
					authentication-failure-url="/fail2login"
					login-processing-url="/j_spring_security_check"
					authentication-success-handler-ref="evAuthenticationSuccessHandler"
					always-use-default-target="true"/>
		<logout logout-success-url="/logout"  />			
        <!-- <remember-me services-ref="rememberMeServices"/> -->
	</http>
 						
 	<beans:bean id="evAuthenticationSuccessHandler" class="com.elenverve.handler.EVAuthenticationSuccessHandler" /> 
 	<!-- <beans:bean id="rememberMeServices"    class="org.springframework.security.web.authentication.rememberme.PersistentTokenBasedRememberMeServices">
        <beans:constructor-arg value="myAppKey"/>
        <beans:constructor-arg ref="loginService"/>
        <beans:constructor-arg ref="tokenRepository"/>
        <beans:property name="cookieName" value="remember-me"/>
        <beans:property name="tokenLength" value="32"/>
        <beans:property name="parameter" value="remember-me-parameter"/>
    </beans:bean>
	
    <beans:bean id="tokenRepository"          class="org.springframework.security.web.authentication.rememberme.InMemoryTokenRepositoryImpl"/> -->
	<authentication-manager alias="authenticationManager">
		<!-- <authentication-provider user-service-ref="loginService"></authentication-provider> -->	
		<authentication-provider ref="localAuthenticationProvider"/>	
	</authentication-manager>	
</beans:beans>