.social_login .popuptext {
	display: block;
	padding: 5px 0;
	float: left;
	font-weight: bold;
	font-size: 16px;
	color: #777;
}

fieldset {
	border: none;
}

.login {
	position: relative;
	width: 400px;
	display: none;
	left: -300px;
	top: 25px;
	z-index: 1;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #ECF0F1;
	left: 80%;
	position: absolute;
	top: -10px;
}

.formholder {
	background: #ecf0f1;
	width: 750px;
	border-radius: 5px;
	padding-top: -15px;
}

.formholder input[type="email"],.formholder input[type="password"] {
	padding: 3px 1px;
	margin: 2px 0;
	width: 30%;
	height: 25px;
	display: block;
	font-size: 12px;
	border-radius: 10px;
	border: none;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	transition: 0.3s linear;
}

.formholder input[type="email"]:focus,.formholder input[type="password"]:focus
	{
	outline: none;
	box-shadow: 0 0 1px 1px #f0b70c;
}

.formholder input[type="submit"] {
	background: #D2D2D2;
	padding: 10px;
	margin: 15px 0;
	font-size: 12px;
	display: block;
	width: 30%;
	height: 40px;
	border: none;
	color: #fff;
	border-radius: 5px;
}

.formholder input[type="submit"]:hover {
	background: #f0b70c;
}

.randompad {
	padding: 10px;
}

.green {
	color: #1abc9c;
}

a {
	color: #ecf0f1;
	text-decoration: none;
}

a:hover {
	color: #1abc9c;
}


/* Sign in Form */
#login-bg {
	background-image: url("/images/sign-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	width: 100%;
}

.login-sec {
	display: table;
	float: none;
	margin: 0 auto;
	width: 50%;
}

.login-sec>ul {
	border: medium none;
	float: left;
	width: 100%;
}

.login-sec>ul>li {
	float: left;
	margin: 0;
}

.login-sec>ul>li>a {
	background: none repeat scroll 0 0 rgba(247, 247, 247, 0.87);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #4D4D4D;
	float: left;
	font-family: OPEN SANS;
	font-size: 22px;
	font-weight: 600;
	line-height: 16px;
	margin: 0 15px 0 0;
	padding: 25px 50px;
	position: relative;
}

.login-sec>ul>li.active>a:before {
	border-left: 9px solid rgba(255, 255, 255, 0);
	border-right: 9px solid rgba(255, 255, 255, 0);
	border-top: 9px solid #FFFFFF;
	bottom: -10px;
	content: "";
	left: 50%;
	margin-left: -5px;
	position: absolute;
}

.login-sec .tab-content {
	background: none repeat scroll 0 0 rgba(236, 236, 236, 0.81);
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin-top: 15px;
	padding: 30px;
	width: 570px;
}

.signin-form {
	float: left;
	width: 100%;
}

.signin-form>h3 {
	color: #4D4D4D;
	float: left;
	font-family: open sans;
	font-weight: 600;
	letter-spacing: 0.3px;
	line-height: 15px;
	margin: 0;
	text-transform: uppercase;
	width: 100%;
}

.signin-form>form {
	float: left;
	margin-bottom: 15px;
	margin-top: 35px;
	width: 100%;
}

.signin-form>form>input {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.71);
	border: 1px solid #C8C8C8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	float: left;
	font-family: open sans;
	font-size: 13px;
	height: 50px;
	letter-spacing: 0.3px;
	margin-bottom: 15px;
	padding: 0 20px;
	width: 100%;
}

.signin-form>a {
	color: #333333;
	display: table;
	float: none;
	font-family: open sans;
	font-size: 12px;
	letter-spacing: 0.3px;
	line-height: 11px;
	margin: 0 auto;
}

.signin-form .submit {
	background: none repeat scroll 0 0 #7A7A7A;
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	display: table;
	float: none;
	font-family: open sans;
	font-size: 15px;
	margin: 20px auto 0;
	padding: 10px 39px;
}

.register-form  h3 {
	color: #666666;
	float: left;
	font-family: open sans;
	font-size: 23px;
	font-weight: bold;
	letter-spacing: 0.3px;
	line-height: 18px;
	margin: 0 0 25px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.register-form>.row>div>form {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	border: 1px solid #C8C8C8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	height: 50px;
	margin-bottom: 20px;
	padding: 0 20px;
	float: left;
	width: 100%;
}

.register-form>.row>div>form>i {
	color: #ABABAB;
	float: left;
	font-size: 15px;
	line-height: 48px;
	margin-right: 20px;
}

.register-form>.row>div>form>input {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #777777;
	float: left;
	font-family: open sans;
	font-size: 14px;
	height: 46px;
	letter-spacing: 0.3px;
	width: 80%;
}

.register-form>.row>div>p {
	float: left;
	margin: 0 0 10px;
	width: 100%;
}

.register-form>.row>div>p>label {
	color: #8B8B8B;
	float: left;
	font-family: open sans;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.3px;
	margin: 1px 0 0 15px;
}

.submit-form {
	background-color: rgba(247, 247, 247, 0.8);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	float: left;
	padding: 15px;
	width: 100%;
}

.submit-form>input {
	border: medium none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF;
	display: table;
	float: none;
	font-family: open sans;
	font-size: 15px;
	letter-spacing: 0.3px;
	margin: 0 auto;
	padding: 10px 90px;
	background: none repeat scroll 0 0 #7A7A7A;
}

.submit-form>p {
	color: #8B8B8B;
	display: table;
	float: none;
	font-family: open sans;
	font-size: 12px;
	letter-spacing: 0.3px;
	margin: 15px auto 0;
	text-align: center;
	width: 70%;
}

.submit-form>p>i {
	font-style: normal;
}



.popupContainer {
	position: absolute;
	width: 330px;
	height: auto;
	left: 45%;
	top: 80px;
	background: #FFF;
}

.btn {
	padding: 10px 20px;
	background: #F4F4F2;
}

.btn_red {
	background: #ED6347;
	color: #FFF;
}

.btn:hover {
	background: #E4E4E2;
}

.btn_red:hover {
	background: #C12B05;
}

a.btn {
	color: #666;
	text-align: center;
	text-decoration: none;
}

a.btn_red {
	color: #FFF;
}

.one_half {
	width: 50%;
	display: block;
	float: right;
}

.one_half.last {
	width: 45%;
	margin-left: 5%;
}

/* Popup Styles*/
.popupHeader {
	font-size: 16px;
	text-transform: uppercase;
}

.popupHeader {
	background: #F4F4F2;
	position: relative;
	padding: 10px 20px;
	border-bottom: 1px solid #DDD;
	font-weight: bold;
}

.popupHeader .modal_close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 15px;
	background: #E4E4E2;
	cursor: pointer;
	color: #aaa;
	font-size: 16px;
}

.popupBody {
	padding: 20px;
}

/* Social Login Form */
.social_login {
	padding: 20px;
}

/* .social_login .social_box {
	display: block;
	clear: both;
	padding: 10px;
	margin-bottom: 10px;
	background: #F4F4F2;
	overflow: hidden;
}

.social_login .icon {
	display: block;
	width: 10px;
	padding: 5px 10px;
	margin-right: 10px;
	float: left;
	color: #FFF;
	font-size: 16px;
	text-align: center;
}

.social_login .fb .icon {
	background: #3B5998;
}

.social_login .google .icon {
	background: #DD4B39;
}

.social_login .icon_title {
	display: block;
	padding: 5px 0;
	float: left;
	font-weight: bold;
	font-size: 16px;
	color: #777;
}

.social_login .social_box:hover {
	background: #E4E4E2;
}
 */
.centeredText {
	text-align: center;
	margin: 20px 0;
	clear: both;
	overflow: hidden;
	text-transform: uppercase;
}

.action_btns {
	clear: both;
	overflow: hidden;
}

.action_btns a {
	display: block;
}

/* User Login Form */
.user_login {
	display: none;
}

.user_login label {
	display: block;
	margin-bottom: 5px;
}

/* .user_login input[type="text"],.user_login input[type="email"],.user_login input[type="password"]
	{
	display: block;
	width: 90%;
	padding: 10px;
	border: 1px solid #DDD;
	color: #666;
} */

.user_login input[type="checkbox"] {
	float: left;
	margin-right: 5px;
}

.user_login input[type="checkbox"]+label {
	float: left;
}

.user_login .checkbox {
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
}

.forgot_password {
	display: block;
	margin: 20px 0 10px;
	clear: both;
	overflow: hidden;
	text-decoration: none;
	color: #ED6347;
}

/* User Register Form */
 .user_register {
	display: none;
	padding: 20px;
}

.user_register label {
	//display: block;
	margin-bottom: 5px;
}

/* .user_register input[type="text"],.user_register input[type="email"],.user_register input[type="password"]
	{
	//display: block;
	width: 90%;
	padding: 10px;
	border: 1px solid #DDD;
	color: #666;
} */

.user_register input[type="checkbox"] {
	float: left;
	margin-right: 5px;
}

.user_register input[type="checkbox"]+label {
	float: left;
}

.user_register .checkbox {
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
}
