sale02=END OF SUMMER SALE EVENT!!! \n\t {percent} % OFF on {product}
sale01={percent} % OFF on our exclusive {collection}
sale02={percent} % OFF on {category} category
bag01=Buy {quantity} {buy} and Get {percent} %  OFF on {get}   
bag02=Buy {quantity} {buy} and Get {qty} {get}
ship01=Buy {buy} , Get FREE {shippingType} on {get}
ship02=Buy {buy} , Get {amt} $ shipping on {get}
ship03=FREE {shippingType} on {get}
ship04={amt} dollar shipping on {get}
