.shippingaddress {
    line-height:30px;
    background-color:#eeeeee;
    position: absolute;
    top: 25%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    width: 500px;
    height: 500px;
    padding:5px;
}
/**

*/

.address-form > .row > form > div > div> ul > input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #777777;
    float: left;
    font-family: open sans;
    font-size: 16px;
    height: 36px;
    letter-spacing: 0.3px;
    width: 70%;
}

.address-form  h3 {
    color: #666666;
    float: left;
    font-family: open sans;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 18px;
    margin: 0 0 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.address-form > .row > form > div > div > ul {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    border: 1px solid #C8C8C8;
    
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
	
    height: 40px;
    margin-bottom: 20px;
    padding: 0 20px;
	float:left;
	width:90%;
}
.address-form > .row > form >div > div > ul > i {
    color: #ABABAB;
    float: left;
    font-size: 18px;
    line-height: 38px;
    margin-right: 20px;
}
.address-form > .row > div > span {
    color: #ABABAB;
    float: left;
    font-size: 15px;
    line-height: 48px;
    margin-right: 20px;
    padding-left:10px;	
}
.address-form > .row > form > div > div > ul > input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #777777;
    float: left;
    font-family: open sans;
    font-size: 16px;
    height: 36px;
    letter-spacing: 0.3px;
    width: 70%;
}
.address-form > .row > form > div > div >p {
    float: left;
    margin: 0 0 10px;
    width: 100%;
}
.address-form > .row > form> div > div > p > label {
    color: #8B8B8B;
    float: left;
    font-family: open sans;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.3px;
    margin: 1px 0 0 15px;
}

///////////////////////////////////////



.address-form > .row > div > form > div >  ul > input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #777777;
    float: left;
    font-family: open sans;
    font-size: 16px;
    height: 36px;
    letter-spacing: 0.3px;
    width: 70%;
}

.address-form  h3 {
    color: #666666;
    float: left;
    font-family: open sans;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 18px;
    margin: 0 0 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.address-form > .row > div > form > div >  ul {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    border: 1px solid #C8C8C8;
    
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
	
    height: 40px;
    margin-bottom: 20px;
    padding: 0 20px;
	float:left;
	width:90%;
}
.address-form > .row > div >  form >div >  ul > i {
    color: #ABABAB;
    float: left;
    font-size: 18px;
    line-height: 38px;
    margin-right: 20px;
}
.address-form > .row > div > span {
    color: #ABABAB;
    float: left;
    font-size: 15px;
    line-height: 48px;
    margin-right: 20px;
    padding-left:10px;	
}
.address-form > .row > div> form > div >  ul > input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #777777;
    float: left;
    font-family: open sans;
    font-size: 16px;
    height: 36px;
    letter-spacing: 0.3px;
    width: 70%;
}
.address-form > .row > div > form > div >p {
    float: left;
    margin: 0 0 10px;
    width: 100%;
}
.address-form > .row > div > form> div > p > label {
    color: #8B8B8B;
    float: left;
    font-family: open sans;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.3px;
    margin: 1px 0 0 15px;
}