.cart-checkout-button {
    border: 1px solid #F0B70C;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;	
	
    color: #404040;
    float: right;
    line-height: 10px;
    margin: 0;
    padding: 10px 12px;
    text-transform: uppercase;
    width: auto;
}
.cart-checkout-button:hover {
	 opacity: 1;
    /*border: 1px solid #404040;*/
    color: #404040;
    background-color:#f0b70c;
}

.cart-checkout li > a:hover .cart-bar-hover {
    opacity: 1;
    top: 0;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);	
}
