<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:flow="http://www.springframework.org/schema/webflow-config"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/webflow-config
		http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config/>
	
	<bean id="productService" class="com.elenverve.service.ProductServiceImpl" />
	
	<bean id="shoppingCart" class="com.elenverve.service.ShoppingCart" scope="session">
		<!-- This requires CGLIB -->
		<aop:scoped-proxy/>
	</bean>
	
	<bean id="cartService" class="com.elenverve.service.CartServiceImpl" scope="session">
		<!-- This requires CGLIB -->
		<aop:scoped-proxy/>
	</bean>
	
	 <!-- Enables POJO @Controllers (like CartController) -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
	
	<!-- Maps flow requests from DispatcherServlet to flowController -->
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<value>
				/addToCart=flowController							
			</value>
		</property>
		<property name="alwaysUseFullPath" value="true"/>
	</bean>
	
	<!-- Enables annotated methods on POJO @Controllers (like CartController) -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
	
	<!-- Enables plain Controllers (e.g. FlowController) -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
	
	<!-- ================================================================== -->
	<!-- Spring Web Flow stuff                                              -->
	<!-- ================================================================== -->
	
	<!-- Using FlowController instead of FlowHandlers; see SWF Reference Guide, section 9.5. -->
	<bean id="flowController" class="org.springframework.webflow.mvc.servlet.FlowController">
		<property name="flowExecutor" ref="flowExecutor"/>
	</bean>
    
	<flow:flow-executor id="flowExecutor" flow-registry="flowRegistry"/>
	
	<!-- This creates an XmlFlowRegistryFactory bean -->
	<flow:flow-registry id="flowRegistry" flow-builder-services="flowBuilderServices">
		<flow:flow-location path="/WEB-INF/flows/addToCart.xml"/>			
	</flow:flow-registry>
	
	<flow:flow-builder-services id="flowBuilderServices" view-factory-creator="viewFactoryCreator"/>	

</beans>